[user]
  name = Carlos Aguilera
  email = 18aguilerac@gmail.com
	signingkey = /Users/ca/.ssh/Public-Keys/local-gitkey.pub

[alias]
  cam = commit -am
  cm = commit -m
  co = checkout
  psuh = push
  st = status
  unstage = restore --staged

[push]
  default = current

[pull]
  default = current

[commit]
	gpgsign = true

[gpg]
	format = ssh
